@import '_variables.scss';

.box {
  background: $primary-clr;
  width: 15%;
  height: 4rem;
  margin-bottom: 1rem;
}

.pageHeader {
  color: #ffffff;
  text-shadow: 2px 2px 3px $primary-clr;
  padding-left: 2rem;
  padding-top: 1rem;

  @include mq(){
    padding-left: 4rem;
  }
}