.box {
  background: #4d3210;
  width: 15%;
  height: 4rem;
  margin-bottom: 1rem; }

.pageHeader {
  color: #ffffff;
  text-shadow: 2px 2px 3px #4d3210;
  padding-left: 2rem;
  padding-top: 1rem; }
  @media screen and (min-width: 768px) {
    .pageHeader {
      padding-left: 4rem; } }
